header {
  background-image: url(images/background-image.jpg)
  text-align: center;
  height: 200px;
  margin: 24px;
  padding: 24px;
  border: 1px;
  border-color: black;
  background-color: rgb(13, 129, 110);
  color: white;
  font-size: 32px;
  font-family: 'Times New Roman';
}
/* Just my name so far */

main {
  text-align: center;
  margin: 24px;
  padding: 24px;
  background-color: rgb(13, 129, 110);
  color: white;
  font-size: 16px;
  font-family: 'Times New Roman';
}
/* Pretty much everything is in here */


.links {
  a:link {
    color: white;
  }
  a:visited {
    background-color: rgb(213, 248, 55);
  }
  a:hover {
    background-color: rgb(158, 160, 158);
  }
  a:active {
    background-color: rgb(199, 39, 18);
  } 
}
/* Styles the links */


footer {
  text-align: center;
  margin: 24px;
  padding: 24px;
  border: 1px;
  border-color: black;
  background-color: rgb(13, 129, 110);
  color: white;
  font-size: 64px;
  font-family: 'Times New Roman';
}
/* Nothing here yet */


h1 {
    font-family: 'Times New Roman';
    font-size: 64px;
    font-color: black;
  }
  /* adjusting sizes */

  
  h2 {
    font-family: 'Times New Roman';
    font-size: 32px;
    font-color: black;
  }
  /* adjusting size */